// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #18191c;

// Primary/body text
$mainFont: 'Montserrat';
$mainFontSize: 40px;
$mainColor: white;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Montserrat';
$headingColor: white;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: inherit;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: #0044cc;
$linkColorHover: #80329D;

// Text selection
$selectionBackgroundColor: transparent;
$selectionColor: #ff206e;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
