/**
 * freyamade theme for reveal.js
 * Author: freyamade
 */

 // Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");

// Default mixins and settings -----------------
@import "./settings";
// ---------------------------------------------

.reveal pre code {
  font-family: "Ubuntu Mono", sans-serif;
}

.reveal .controls .navigate-left {
  right: 74px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #0046cc, #ff206e);
    border-image-slice: 1;
    display: inline-block;
}

// Theme template ------------------------------
@import "./base-theme";
// ---------------------------------------------

// Override some stuff in the base theme
.reveal .progress span, .reveal hr {
  background-image: linear-gradient(to right, #0046cc, #ff206e);
}

.reveal hr {
    border: 0;
    height: 1px;
}
