/**
 * crnbrdrck theme for reveal.js
 * Author: crnbrdrck
 */

 // Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");

// Default mixins and settings -----------------
@import "./mixins";
@import "./settings";
// ---------------------------------------------

.card-content {
  color: $headingColor;
}

.reveal section .card .card-image img {
  max-height: 100%;
  max-width: 100%;
  border: 0;
  margin: 0;
  box-shadow: 0 0 0 0;
}

.reveal pre code {
  font-family: "Ubuntu Mono", sans-serif;
}

.reveal a.btn-flat {
  font: 15px 'Raleway', sans-serif;
}

.reveal .controls .navigate-left {
  right: 74px;
}

.card.light {
    background-color: $mainColor !important;
    color: $backgroundColor !important;
}

.card.dark {
    color: $mainColor !important;
    background-color: $backgroundColor !important;
    & ::selection {
        color: $selectionBackgroundColor;
        background: $selectionColor;
        text-shadow: none;
    }

    & ::-moz-selection {
        color: $selectionBackgroundColor;
        background: $selectionColor;
        text-shadow: none;
    }
}

// Theme template ------------------------------
@import "./base-theme";
// ---------------------------------------------
